  <tr class="table-row table-header">
    <td class="col-xs-3">
      {{row.category}}
    </td>
    <td class="col-xs-4">
      {{row.description}}
    </td>
    <td class="col-xs-2">
      {{row.address}}
    </td>
    <td class="col-xs-2">
      {{row.incidentdate}}
    </td>
    <td class="col-xs-1">
      {{row.hour}}
    </td>
  </tr>