<table class="table">
  <tr class="table-row table-header">
    <th class="table-cell col-xs-3">
      Category
    </th>
    <th class="table-cell col-xs-4">
      Description
    </th>
    <th class="table-cell col-xs-2">
      Location
    </th>
    <th class="table-cell col-xs-2">
      Incident date
    </th>
    <th class="table-cell col-xs-1">
      Hour
    </th>
  </tr>
  {{#each reports as |report|}}
    {{report-list-row row=report}}
  {{/each}}
</table>