@import "ember-bootstrap-sass";

.leaflet-container {
    width: 100%px;
    height: 500px;
}

DIV.message {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    font-size: 1.5em;
    z-index: 10000;
    color: black;
    padding: 0.25em 0.5em;
}

.loading {
    text-align: center;
    margin-top: 2em;
    .fa {
        font-size: 64px;
    }
}

th, td {
    border: 1px solid black;
}

.table-row {
    @extend .row;
}

.report {
    overflow: auto;
}