<div class="container">
  <div class="col-xs-12 map-wrapper">
    {{outlet}}
  </div>
  <div class="footer col-xs-12">
  All reports are provisional.  Locations are approximate and accurate only to block level.  <a href="https://data.detroitmi.gov/Public-Safety/DPD-All-Crime-Incidents-2009-Present-Provisional-/b4hw-v6w2">Powered by open data</a>.
  </div>
</div>
