<div class="tools">
  <div class="col-md-12 date">From {{jqui-datepicker value=startDate}} to {{jqui-datepicker value=endDate}}</div>
  <!--<div class="col-md-5 location">Location: {{input type="text" placeholder="Address" valueBinding="location"}} <button {{action "recenterMap"}}>Go</button></div>-->
</div>
<div class="info">
{{count}} reports between {{startDate}} and {{endDate}}
</div>
<div class="map">
{{#leaflet-map lat=lat lng=lng zoom=zoom action="updateCenter" onZoomend=(action "updateCenter")}}
  {{#if message}}
      <div class="message">{{message}}</div>
  {{/if}}

  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
      {{#each reports as |r|}}
        {{#marker-layer lat=r.lat lng=r.lng draggable=false}}
          <h3>{{r.category}}</h3>
          <div><strong>{{r.description}}</strong></div>
          <div>{{r.address}}</div>
          <div>{{r.incidentdate}}</div>
        {{/marker-layer}}
      {{/each}}
{{/leaflet-map}}
</div>
<div class="report">
  {{report-list reports=reports}}
</div>

